@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: text-color-change($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

section {
  padding: 4rem;
  min-height: 100vh;
  height: calc(100%);
  color: #fff;

  &:nth-of-type(1) {
    background: $primary-color;
  }
  &:nth-of-type(2) {
    background: $about-color;
  }
  &:nth-of-type(3) {
    background: $dark-color;
  }
  &:nth-of-type(4) {
    background: $blue-color;
  }
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;

  &.lg-heading {
    font-size: 8rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    font-size: 2rem;
  }
}

a {
  color: $secondary-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  margin-top: 4rem;
  color: $light-color;
}
.text-skills {
  color: $light-color;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
main {
  height: 100%;

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.aboutinfo {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimg bi';
}

.bioimage {
  grid-area: bioimg;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
}

.bio {
  #summary {
    width: 75%;
  }

  grid-area: bi;
  font-size: 1.5rem;
  .skills {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    text-align: center;
    .skill-icon {
      align-items: center;
      text-align: center;
      height: 100px;
      background: white;
      border-radius: 15%;
      border: #fff 3px solid;
      padding: 2px;
    }
    .caption {
      font-size: 2rem;
    }
    .column {
      float: left;
      width: 75%;
      padding: 5px;
    }
  }
}

// projects

.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px #fff solid;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//button styles
// buttons

a.button {
  float: left;
  margin: 1rem;
  // background: $secondary-color;
  font-size: 2rem;
  padding: 10px 20px 10px 20px;
  border: solid $secondary-color 4px;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    font-size: 2rem;
    color: $accent-color;
    padding: 10px 20px 10px 20px;
    border: solid $accent-color 4px;
    border-radius: 5px;
    text-decoration: none;
    @include easeOut;
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  margin-bottom: 0.3rem;

  &:hover {
    background: $accent-color;
    color: text-color-change($accent-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 0);
  color: #fff;
}

footer {
  height: 50px;
  z-index: 3;
  background: none;
}

@import 'mobile';
